.saludo {
    text-align: center;
    width: 400px;
    margin: 0 auto;
    border: 5px solid;
    border-style: groove;
    border-color: white;
    border-radius: 5px;
    border-width: 2rem;
    background-color: aliceblue;
}

.fondo {
    background-image: url("../asset/IMG/edificios.png");
    background-size: cover;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    text-decoration: solid;
}

.lista {
    color: azure;
    font-size: 20px;
    font-weight: bold;
    font-style: oblique;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    transition: all .5s ease 0s;
}

.footer {
    color: azure;
}