
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&display=swap');

*{
    margin: 0;
    background-color: gray;
    padding: 0;
    color: aliceblue;
}

* {
    font-family: 'Roboto Slab', serif;
}

.flex-contein{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 120px;
    margin: 50px 0px;
}

.article-faq{
    color: azure;
    padding: 10%;
    border: 20%;
    margin: auto red ;
}

header nav{
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding: 2em;
}

header nav ul{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items:center;
    flex:auto;
    margin: 0 10px;
    list-style-type: none;
}

header nav ul li a{
    text-decoration: none;
}

h1{
    background-color: rgb(77, 75, 75);
    font-size: 35px;
    text-align: center;
}

.ubicacion {
    background-color: rgb(77, 75, 75);
    font-size: 25px;
    text-align: center;
}

.conteiner {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5em 30em 6em;
}

.contacto-box{
    display: flex;
    justify-content:space-around;
}