@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    color: black;
    box-sizing: border-box;
}

* {
    font-family: 'Roboto Slab', serif;
}
/* header de todas las paginas*/

header nav {
    color: black;
    background-color: rgb(69, 147, 188);
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-between 2rem;
    padding: 2em;
}

header nav ul {
    background-color: rgb(69, 147, 188);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: auto;
    margin: 0 10px;
    list-style-type: none;
}

header nav ul li a {
    background-color: rgb(69, 147, 188);
    text-decoration: none;
    color: white;
}

h1 {
    background-color: rgb(69, 147, 188);
    font-size: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

/* Preguntas frecuentes */

.article-faq {
    padding: 5%;
    border: 10%;
    color: black;
}

.flex-contein {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,1fr);
    gap: 2rem;
}

.FAQ {
    font-size: 35PX;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.primer-FAQ {
    background-color: rgb(69, 147, 188);
    font-size: 15px;
    width: 100%;
    gap: 80px;
    margin: 50px 0px;
    border-radius: 15px;
    box-shadow: 0px 3px 5px rgba(15,15,15, .5);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.footer {
    color: black;
}

.ubicacion {
    background-color: rgb(69, 147, 188);
    font-size: 30px;
    text-align: center;
    border: rgb(0, 0, 0) 2px solid;
    margin: 90px 20px;
    padding: 0.5em 1em;
}

.conteiner {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5em 30em 6em;
}

.inicio {
    display: flex;
    justify-content: center;
    font-size: 25px;
    text-align: center;
    margin: 40px 50px;
}

.contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.contacto-box {
    background-color: rgb(69, 147, 188);
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0px 3px 5px rgba(15,15,15, .5);
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.servicios {
    color: black;
    font-size: 20px auto;
    display: flex;
    justify-content: center;
    margin: 30px;
}

.imagen-servicios {
    width: 75vw;
    max-width: 1000px;
    min-width: 320px;
    margin: auto;
}

.img-v2 {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0px 3px 5px rgba(15,15,15, .5);
}

.servicios-texto {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    margin: 30px 30px;
}

.nosotros {
    display: flex;
    justify-content: center;
    font-size: 25px;
    color: black;
    margin: 30px;
}

.nosotros-text {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    margin: 35px 40px;
}

.wpp-fixed {
    background-color: rgb(69, 147, 188);
    border-radius: 80%;
    width: 4em;
    height: 4em;
    position: fixed;
    bottom: 1em;
    right: 1em;
    display: flex;
    align-items: center;
    animation-name: moverBoton;
    animation-duration: 3s;
    animation-delay: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@media (max-width:420px) {}

@media screen and(min-width:421px) and (max-width: 1199px) {}

@media screen and(min-width:1200px) {}

@keyframes moverBoton {
    0% {
        transform: scale(1, 1);
    }

    25% {
        transform: scale(1.1, 1.1);
    }

    50% {
        transform: scale(1.2, 1.2);
    }

    100% {
        transform: scale(1, 1);
    }
}