@import "./base/reset";
@import "./layout/header";
@import "./layout/index";
@import "./layout/nosotros";
@import "./layout/servicios";
@import "./layout/contacto";
@import "./layout/faq";
@import "./layout/footer";
@import "./componentes/button";
@import "./componentes/media";
