.saludo {
    text-align: center;
    width: 200px;
    margin: 0 auto;
    border: 5px solid;
    border-style: groove;
    border-color: white;
    border-radius: 5px;
    border-width: 2rem;
    background-color: aliceblue;
}

.fondo {
    background-image: url("IMG/edificios.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: azure;
    background-position-x: center;
}

