//contacto

.contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin: 20px 10px;
}

.contacto-box {
    background-color: rgb(69, 147, 188);
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0px 3px 5px rgba(15,15,15, .5);
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
