//faq 

.article-faq {
    padding: 5%;
    border: 10%;
    color: black;
}
.FAQ {
    font-size: 35PX;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-contein {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,1fr);
    gap: 2rem;
}
.primer-FAQ {
    background-color: rgb(69, 147, 188);
    font-size: 15px;
    width: 100%;
    gap: 20px;
    margin: 20px 0px;
    border-radius: 15px;
    box-shadow: 0px 3px 5px rgba(15,15,15, .5);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
