//footer

.footer {
    color: black;
}

.ubicacion {
    background-color: rgb(69, 147, 188);
    font-size: 30px;
    text-align: center;
    border: rgb(0, 0, 0) 2px solid;
    margin: 90px 20px;
    padding: 0.5em 1em;
}


.wpp-fixed {
    background-color: rgb(69, 147, 188);
    border-radius: 80%;
    width: 4em;
    height: 4em;
    position: fixed;
    bottom: 1em;
    right: 1em;
    display: flex;
    align-items: center;
    animation-name: moverBoton;
    animation-duration: 3s;
    animation-delay: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
