header nav {
        position: sticky;
        display: flex;
        flex-direction: row;
        justify-content: space-between 2rem;
        padding: 2em;
        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            flex: auto;
            margin: 0 10px;
            list-style-type: none;
            li a {
                text-decoration: none;
                color: white; 
} } } ; 