.saludo {
    text-align: center;
    width: 400px;
    margin: 0 auto;
    border: 5px solid;
    border-style: groove;
    border-color: white;
    border-radius: 5px;
    border-width: 2rem;
    background-color: aliceblue;
}

.fondo {
/*     background-image: url("IMG/edificios.png"); */
    background-color: black;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

.navbar {
    transition: all .5s ease 0s;
    background: #1abc9c;

}